/* Color palette */
:root {
  --color-primary: #05a845;
  --color-secondary: #4bd820;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  /* font-family: Inter, Arial, Helvetica, sans-serif;
   */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5; /* 1.5 * font-size(2.4rem) */
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  overflow: hidden;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: black;
  color: #7b858b;
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--dark .block__heading,
.block--dark h1,
.block--dark h2,
.block--dark h3,
.block--dark h4,
.block--dark h5,
.block--dark h6 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation */
.header {
  padding: 0;
}

.navbar,
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent initially */
  border-bottom: 1px solid #e2e2e4;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  backdrop-filter: blur(0); /* No blur initially */
}

.navbar-container.scrolled {
  padding: 0;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
}

/* Add a class when scrolling */
.navbar.scrolled {
  background-color: transparent;
}

.logo img {
  width: 70px;
}

.search-container {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e4;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 3px 2px rgba(161, 160, 160, 0.2);
  border-radius: 0.5rem;
}

.search-container input {
  border: none;
  padding: 0.8rem;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.search-container button {
  background-color: #05a845;
  border: none;
  padding: 6px;
  cursor: pointer;
  transition: color;
}

.search-container button:hover {
  background-color: #45a049;
}

.search-container button img {
  width: 18px;
}

.search-container .search-button {
  border-radius: 3px 0 0 3px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-container {
  position: relative;
  margin-left: 15px;
}

.icon-container .icon {
  width: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-container .icon:hover {
  filter: brightness(0.8); /* Darken the icon on hover */
}

.icon-container .icon-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #05a845;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.menu-container {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 6.5rem;
}

.menu-item {
  margin-right: 20px;
  font-size: 16px;
  color: #1b1b20;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item:hover {
  color: #05a845;
}

.categories {
  display: flex;
  align-items: center;
  background-color: #05a845;
  color: #fff;
  padding: 1.2rem;
  border-radius: 2rem;
  margin-right: 20px;
  text-decoration: none;
  position: relative;
}

.categories:hover {
  color: #fff;
}

.help-contact {
  font-size: 14px;
  color: #1b1b1b;
  margin-left: auto;
}

/* Hamburger Menu for small screens */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  fill: black;
}

.hamburger div {
  width: 20px;
  height: 0.22rem;
  background-color: #333333;
  margin: 2.5px 0;
  margin-left: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 12px 20px;
    border-bottom: 0;
  }

  .search-container {
    max-width: 300px;
  }

  .menu-container {
    margin: 0 auto;
  }

  .menu {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }

  .menu--expanded {
    max-height: 100vh;
    opacity: 1;
  }

  .menu-item,
  .categories {
    margin-right: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .help-contact {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .search-container {
    max-width: 200px;
  }
}

.contact-text {
  color: var(--color-secondary);
  font-size: 14px;
}

/* Hero Section */
.hero {
  background-image: url("../assets/image-33.svg");
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  margin-top: 13.5rem;
}

.hero__content {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  position: relative;
  z-index: 2;
  text-align: left;
}

.hero__title {
  font-size: 5rem;
  margin-bottom: 5rem;
  line-height: 1.2;
  font-weight: bold;
  background-image: linear-gradient(to right, #ff9800, #ff5722, #ffeb3b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem 0.5rem #ffa6003b;
  text-align: left;
}

.hero__search-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.hero__search-input {
  padding: 1.8rem;
  font-size: 1.6rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  width: 50rem;
  outline: none;
  box-shadow: 0 0 3px 2px rgba(161, 160, 160, 0.2);
}

.hero__search-button {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);

  transition: background-color 0.3s;
}

.hero__search-button:hover {
  background-color: #45a049;
}

.hero__features {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  text-align: left;
}

.hero__feature {
  width: 20rem;
  display: flex;
  font-size: 1.3rem;
  color: #9c9c9c;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.hero__feature:hover {
  background-color: rgba(186, 183, 183, 0.155);
  color: var(--color-secondary);
}

.hero__feature-icon {
  margin-right: 0.5rem;
  color: var(--color-secondary);
}

.hero__feature-text {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .hero {
    height: 85vh;
    margin-top: 6.5rem;
  }

  .hero__feature {
    width: 20rem;
  }

  .hero__content {
    flex-direction: column;
    text-align: center;
  }
  .hero__text-content {
    max-width: 100%;
  }
  .hero__title {
    font-size: 4.8rem; /* Adjusted for smaller screens */
    text-align: center;
  }
  .hero__search-container {
    flex-direction: column;
    align-items: center;
  }
  .hero__search-input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
  }
  .hero__search-button {
    width: 100%;
    border-radius: 0.4rem;
  }
  .hero__features {
    flex-direction: column;
    align-items: center;
  }
}

/* Delivery step section */
.block--delivery-process {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 10rem auto;
  padding: 20px;
  position: relative;
}

.delivery-step {
  flex: 1;
  text-align: center;
  max-width: 300px;
}

.delivery-step-icon {
  background-color: #e7f7f0;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.delivery-step-image {
  object-fit: contain;
  transition: all 0.3s ease;
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.connector--up {
  padding-bottom: 1rem;
}

.connector--down {
  padding-bottom: 10rem;
}

.delivery-step-heading {
  font-size: 2rem;
}

.delivery-step-description {
  font-size: 1.5rem;
}

/* Large screens (1200px and up) */
@media (min-width: 1200px) {
  .delivery-step-icon {
    width: 220px;
    height: 220px;
  }

  .delivery-step-image {
    width: 130px;
    height: 130px;
  }

  .delivery-step-heading {
    font-size: 2rem;
  }

  .delivery-step-description {
    font-size: 1.5rem;
  }
}

/* Medium screens (992px to 1199px) */
@media (max-width: 1199px) {
  .block--delivery-process {
    gap: 30px;
  }

  .delivery-step-icon {
    width: 180px;
    height: 180px;
  }

  .delivery-step-image {
    width: 110px;
    height: 110px;
  }

  .connector {
    width: 80px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .block--delivery-process {
    flex-direction: column;
    gap: 30px;
  }

  .delivery-step {
    max-width: 100%;
    width: 100%;
  }

  .connector {
    width: 40px;
    height: 60px;
    transform: rotate(90deg);
    top: 0;
  }

  .connector--up {
    padding-top: 3rem;
  }

  .connector--down {
    padding-bottom: 3rem;
  }

  .delivery-step-icon {
    width: 140px;
    height: 140px;
  }

  .delivery-step-image {
    width: 85px;
    height: 85px;
  }

  .delivery-step-heading {
    font-size: 2.5rem;
  }

  .delivery-step-description {
    font-size: 1.5rem;
  }
}
